@tailwind base;
@tailwind components;
@tailwind utilities;

/*.header {*/
/*  !*display: flex;*!*/
/*  !*justify-content: center;*!*/
/*  !*align-items: center;*!*/
/*}*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.tv-image {
  width: 100%;
  height: auto;
}

/*!* Mobile *!*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*  .tv-image {*/
/*    width: 100%;*/
/*    height: auto;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


